# Dependencies
/node_modules
/.pnp
.pnp.js
tsconfig.tsbuildinfo

# Next
.next/
out/

# Production
/build

# Misc
.DS_Store
*.pem

# Env
.env*
!.env.sample

# Playwright
/test-results/
/playwright-report/
/playwright

# Sentry Config File
.sentryclirc

# VSCode
.vscode