@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Inter, sans-serif;
  }

  ul,
  ol {
    list-style: revert;
  }

  details {
    user-select: none;
  }

  details[open] > summary > svg {
    transform: rotate(180deg);
  }

  summary > svg {
    transition: 0.3s ease-in-out;
  }
}

:root {
  --color-text: theme('colors.neutral.900');
  --color-text-offset: theme('colors.neutral.600');
  --color-text-secondary: theme('colors.teal.700');
  --color-text-negative: theme('colors.neutral.100');
  --color-text-negative-offset: theme('colors.neutral.300');
  --color-background: theme('colors.neutral.100');
  --color-background-offset: theme('colors.neutral.200');
  --color-background-secondary: theme('colors.teal.700');
  --color-background-negative: theme('colors.neutral.900');
  --color-background-negative-offset: theme('colors.neutral.800');
  --color-background-disabled: theme('colors.neutral.600');
  --color-border: theme('colors.neutral.900');
  --color-border-ghost: theme('colors.neutral.900' / 10%);
  --color-border-secondary: theme('colors.teal.700');
  --color-border-negative: theme('colors.neutral.100');
}
