@tailwind base;
@tailwind components;
@tailwind utilities;

@import '@radix-ui/colors/teal';
@import '@radix-ui/colors/teal-alpha';
@import '@radix-ui/colors/teal-dark';
@import '@radix-ui/colors/teal-dark-alpha';

@import '@radix-ui/colors/gray';
@import '@radix-ui/colors/gray-alpha';
@import '@radix-ui/colors/gray-dark';
@import '@radix-ui/colors/gray-dark-alpha';

@import '@radix-ui/colors/red';
@import '@radix-ui/colors/red-alpha';
@import '@radix-ui/colors/red-dark';
@import '@radix-ui/colors/red-dark-alpha';

td,
th {
  @apply border border-default p-1 dark:border-negative;
}

@layer base {
  html {
    font-family: Inter, sans-serif;
    text-rendering: optimizeLegibility;
  }

  ul,
  ol {
    list-style: revert;
  }

  details {
    user-select: none;
  }

  details[open] > summary > svg {
    transform: rotate(180deg);
  }

  summary > svg {
    transition: 0.3s ease-in-out;
  }

  :root {
    --color-text: theme('colors.neutral.900');
    --color-text-offset: theme('colors.neutral.600');
    --color-text-accent: theme('colors.teal.700');
    --color-text-negative: theme('colors.neutral.100');
    --color-text-negative-offset: theme('colors.neutral.300');
    --color-text-error: theme('colors.red.700');

    --color-background: theme('colors.neutral.100');
    --color-background-ghost: theme('colors.neutral.100' / 30%);
    --color-background-offset: theme('colors.neutral.200');
    --color-background-accent: theme('colors.teal.700');
    --color-background-accent-ghost: theme('colors.teal.700' / 30%);
    --color-background-negative: theme('colors.neutral.900');
    --color-background-negative-ghost: theme('colors.neutral.900' / 30%);
    --color-background-negative-offset: theme('colors.neutral.800');
    --color-background-disabled: theme('colors.neutral.600');
    --color-background-error: theme('colors.red.900');
    --color-background-error-offset-light: theme('colors.red.800');
    --color-background-error-offset-dark: theme('colors.red.950');

    --color-border: theme('colors.neutral.900');
    --color-border-ghost: theme('colors.neutral.900' / 10%);
    --color-border-accent: theme('colors.teal.700');
    --color-border-negative: theme('colors.neutral.100');
    --color-border-negative-ghost: theme('colors.neutral.100' / 10%);
  }
}
