@tailwind base;
@tailwind components;
@tailwind utilities;

@import '@radix-ui/colors/teal';
@import '@radix-ui/colors/teal-alpha';
@import '@radix-ui/colors/teal-dark';
@import '@radix-ui/colors/teal-dark-alpha';

@import '@radix-ui/colors/gray';
@import '@radix-ui/colors/gray-alpha';
@import '@radix-ui/colors/gray-dark';
@import '@radix-ui/colors/gray-dark-alpha';

@import '@radix-ui/colors/red';
@import '@radix-ui/colors/red-alpha';
@import '@radix-ui/colors/red-dark';
@import '@radix-ui/colors/red-dark-alpha';

td,
th {
  @apply border border-gray-7 p-1;
}

@layer base {
  html {
    font-family: Inter, sans-serif;
    text-rendering: optimizeLegibility;
  }

  ul,
  ol {
    list-style: revert;
  }

  details {
    user-select: none;
  }

  details[open] > summary > svg {
    transform: rotate(180deg);
  }

  summary > svg {
    transition: 0.3s ease-in-out;
  }
}
