name: Linting and testing

on:
  push:
    branches:
      - main
      - dev
  pull_request: {}

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  DATABASE_URL: postgresql://postgres:postgres@postgres:5432/db

jobs:
  lint:
    name: ESLint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      - name: Set up repo
        uses: ./.github/actions/build

      - name: Lint
        run: pnpm lint

  typecheck:
    name: TypeScript
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up repo
        uses: ./.github/actions/build

      - name: Type check
        run: pnpm type

  prettier:
    name: Prettier
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up repo
        uses: ./.github/actions/build

      - name: Format code
        run: pnpm prettier

  playwright:
    name: Playwright
    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres
        env:
          POSTGRES_DB: db
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5432:5432

    container:
      image: mcr.microsoft.com/playwright:v1.41.0-jammy

    steps:
      - uses: actions/checkout@v4

      - name: Set up repo
        uses: ./.github/actions/build

      - name: Install Playwright
        run: pnpm install:playwright:deps

      - name: Build application
        run: pnpm build

      - name: Start application
        run: pnpm start &

      - name: Push database
        run: pnpm push

      - name: Run Playwright tests
        run: pnpm test
        env:
          HOME: /root
          TEST_EMAIL: ${{secrets.TEST_EMAIL}}
          TEST_PASSWORD: ${{secrets.TEST_PASSWORD}}
          GOOGLE_CLIENT_SECRET: ${{secrets.GOOGLE_CLIENT_SECRET}}
          GOOGLE_CLIENT_ID: ${{secrets.GOOGLE_CLIENT_ID}}
          NEXTAUTH_URL: ${{secrets.NEXTAUTH_URL}}
          NEXTAUTH_SECRET: ${{secrets.NEXTAUTH_SECRET}}

      - uses: actions/upload-artifact@v4
        if: always()
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30