name: Playwright Tests

on:
  push:
    branches: main
  pull_request:
    branches: main

jobs:
  test:
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}

    runs-on: ubuntu-latest
    services:
      postgres:
        image: postgres
        env:
          POSTGRES_DB: postgres
          POSTGRES_USER: postgres
          POSTGRES_PASSWORD: postgres
        options: >-
          --health-cmd pg_isready
          --health-interval 10s
          --health-timeout 5s
          --health-retries 5
        ports:
          - 5433:5432

    container:
      image: mcr.microsoft.com/playwright:v1.40.0-jammy

    steps:
      - uses: actions/checkout@v4
      - uses: pnpm/action-setup@v2
        with:
          version: 8

      - name: Set up Node
        uses: actions/setup-node@v4
        with:
          node-version: lts/*
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install && pnpm install:playwright

      - name: Build application
        run: pnpm build:ci

      - name: Start application
        run: pnpm start &

      - name: Start Docker
        run: pnpm docker:up

      - name: Sleep for 30 seconds
        run: sleep 30s
        shell: bash

      - name: Migrate database
        run: pnpm push
        env:
          DATABASE_URL: postgresql://postgres:postgres@postgres:5433/postgres

      - name: Run Playwright tests
        run: pnpm test

      - uses: actions/upload-artifact@v3
        if: always()
        with:
          name: playwright-report
          path: playwright-report/
          retention-days: 30
